@import "./styles/colors.css"; 

body {
  min-width: 375px;
}

.light-theme *:not(a) {
  color: var(--VeryDarkBlue-LightModeText);
}

.light-theme,
.light-theme :where(.main, .attribution, .detail, .checkbox-input) {
  background-color: var(--VeryLightGray-LightModeBackground);
}

.light-theme :where(.header, .card, .select-dropdown, .input-text, .input-btn, .detail-info-badge) {
  background-color: var(--White-DarkModeText-LightModeElements);
}

.light-theme :where(.header, .card, .detail, .input-text, .input-btn, .select-dropdown, .checkbox-input, .detail-info-badge) {
  box-shadow: 1px 1px 4px var(--DarkGray-LightModeInput);
}

.light-theme .checkbox-input::after {
  background-color: var(--DarkGray-LightModeInput);
}

:is(.light-theme, .dark-theme) .icon {
  color: var(--DarkGray-LightModeInput) !important;
}

.dark-theme *:not(a) {
  color: var(--White-DarkModeText-LightModeElements);
}

.dark-theme,
.dark-theme :where(.main, .attribution, .detail, .checkbox-input) {
  background-color: var(--VeryDarkBlue-DarkModeBackground);
}

.dark-theme :where(.header, .card, .select-dropdown, .input-text, .input-btn, .detail-info-badge) {
  background-color: var(--DarkBlue-DarkModeElements);
}

.dark-theme :where(.header, .card, .detail, .input-text, .input-btn, .select-dropdown, .checkbox-input, .detail-info-badge) {
  box-shadow: 1px 1px 4px var(--VeryDarkBlue-LightModeText);
}

.dark-theme .checkbox-input:checked:after {
  background-color: var(--White-DarkModeText-LightModeElements);
}

.input-text,
.input-btn,
.select-dropdown {
  height: 32px;
}

.input-text {
  border-radius: 4px 0px 0px 4px;
  width: 192px;
}

.input-btn {
  border-radius: 0px 4px 4px 0px;
  width: 32px;
}

.select-dropdown {
  width: 128px;
  line-height: 32px;
}

.checkbox-input {
  appearance: none;
  border-radius: 8px;
  height: 16px;
  width: 32px;
  margin: 0px 6px 6px 0px;
  position: relative;
}

.checkbox-input::after,
.checkbox-input:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.checkbox-input::after {
  opacity: 33%;
  transform: translateX(-8px);
}

.checkbox-input:checked::after {
  opacity: 100%;
  transform: translateX(8px);
}

.checkbox-label,
.header {
  margin-bottom: 4px;
}

.attribution {
  display: block;
}

.header,
.main {
  padding: 16px 8px;
}

.grid-container,
.error {
  padding: 16px 0px;
}

.card:hover {
  opacity: 90%;
}

.card,
.detail,
.select-dropdown,
.detail-info-badge {
  border-radius: 4px;
}

.card,
.detail {
  margin-bottom: 16px;
}

.card-info,
.input-text,
.input-btn,
.select-dropdown,
.detail-flag {
  padding: 8px;
}

.card-flag-img,
.detail-flag-img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

.card-flag-img {
  border-radius: 4px 4px 0px 0px;
}

.detail-info {
  padding: 16px;
}

.detail-info-title {
  margin-bottom: 16px;
}

.detail-info-panel {
  margin: 0px 8px 24px 0px;
}

.detail-info-para {
  padding: 4px 0px;
}

.detail-info-borders-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.detail-info-badge {
  padding: 4px 8px;
  margin: 0px 4px 4px 0px;
}

.error-page {
  padding: 5%;
}

.error-page-panel {
  width: 50%;
}

@media only screen and (width > 768px) {
  .grid-container {
    --gap: 32px;
    --col: 4;
    display: grid;
    grid-template-columns: repeat(var(--col), calc((100% - (var(--gap) * (var(--col) - 1))) / var(--col)));
    grid-template-rows: auto;
    gap: var(--gap);
  }

  .header,
  .main {
    padding: 16px 32px;
  }

  .card,
  .detail {
    margin-bottom: 0px;
  }

  .card-flag-img {
    border-radius: 0px;
  }

  .detail,
  .detail-info-panel-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .detail-flag,
  .detail-info {
    width: 50%;
  }

  .detail-info {
    padding: 32px;
  }
}