/*
 Name:  REST Countries API with color theme switcher hub.
 Description: A Frontendmentor.io coding challenge.
 Author: Federico Borzani
 Author URL:  https://github.com/eserengo/
*/

:root {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

body {
  min-height: 100vh;
  overflow: scroll;
}

ul, li {
  list-style-type: none;
}

input[type="text"],
select,
button {
  border: none;
  outline: none;
}

.card,
.select-dropdown,
.input-btn,
.checkbox-input {
  cursor: pointer;
}

.primary.title,
.card-info-title,
.detail-info-title,
.checkbox-label,
.error {
  font-weight: 700;
}

.primary.title {
  font-size: 125%;
}

.card-info-title,
.detail-info-title,
.select-option,
.input-text::placeholder,
.error {
  font-size: 100%;
}

.card-info-para,
.detail-info-para,
.checkbox-label,
.select-dropdown,
.input-text,
.input-btn,
.attribution {
  font-size: 75%;
}

.error,
.attribution {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}